[package]
name = "cecs"
version = "0.1.0"
edition = "2021"
description = "Entity database for the game 'Caolo'"
license = "MIT"
repository = "https://github.com/caolo-game/cecs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default=["parallel", "tracing"]
parallel=["dep:rayon"]
clone=[]
serde=["dep:serde", "dep:ron"]

[dependencies]
rayon = {version= "1.5.3", optional=true}
ron = {version= "0.7.1", optional=true}
serde = { version = "1", features = ["derive"], optional=true}
thiserror = "1"
tracing = { version = "0.1.35", optional = true }

[dev-dependencies]
bincode = "1.3.3"
serde_json = { version = "1.0.82" }
